<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <form class="form-box" action="/signup" method="POST">
        <h4>회원가입</h4>
        <input name="username" placeholder="아이디" required>
        <input name="password" type="password" placeholder="비밀번호" required>
        <input name="age" placeholder="ex) 18" required>
        <input name="gender" placeholder="ex) 남자" required>
        <input name="height" placeholder="ex) 175" required>
        <input name="weight" placeholder="ex) 65" required>
        <button type="submit">가입</button>
    </form> 
</body>
</html>
